:host{
    background-color: yellowgreen;
    width: 60%;
    height: 99%;
    display: block;
    border: 3px solid gray ;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5% ;
    box-shadow: 10px 5px 10px  yellow;
    border-radius: 0px 0px 20px 0px;


}
:host:hover{
    cursor: pointer;
    background-color: rgb(126, 187, 3);
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 0%;
    padding: 10px;
    background-color: rgb(195, 193, 193);
    font-size: 50px;
}

img{
    width: 50%;
    border-radius: 0px 40px 0px 0px;

}
div.description{
    width: 45%;
    float: right;
    font-size: 25px;
    padding: 15px;
    color: yellowgreen;
    background-color: rgb(34, 2, 2);;
    border-style: 4px solid rgb(34, 2, 2);
    margin-right: 0px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;

}
div.attendance{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 60px;
    background-color: rgb(204, 90, 90);
    font-size: 250%;
    border-radius: 0px 0px 40px 0px;
    display: flex;
    align-items: center;

}
fa-icon{
    margin-right: 10px;
    margin-left: 10px;
}
.LikeButton{
    float: right;
    font-size: 40px;
    background-color: rgb(34, 2, 2);
    color: red;
    border-radius: 20px 0px 20px 0px;
    margin-top: -40px;

}
div.LikeButton fa-icon {
    color: rgb(228, 80, 80);
    padding-right: 2px;
}


