:host{
    background-color: rgb(231, 168, 168);
    width: 60%;
    height: 99%;
    display: block;
    border: 3px solid gray ;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5% ;
    box-shadow: 20px 10px 20px  rgb(59, 0, 0);
    border-radius: 0px 0px 20px 0px;


}
:host:hover{
    cursor: pointer;
    background-color: rgb(233, 233, 233);
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 0%;
    background-color: rgb(195, 193, 193);
    font-size: 50px;
}

img{
    width: 60%;
    border-radius: 0px 40px 0px 0px;

}
div.description{
    width: 35%;
    height: 250px;
    float: right;
    font-size: 25px;
    padding: 15px;
    padding-top: 200px;
    padding-bottom: -200px;
    color: rgb(228, 228, 228);
    background-color: rgb(194, 3, 3);;
    border-style: 4px solid rgb(34, 2, 2);
    border-radius: 30% 0% 0% 30%;
    margin-right: 0px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;

}
div.attendance{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 60px;
    background-color: rgb(204, 90, 90);
    font-size: 250%;
    border-radius: 0px 0px 40px 0px;
    display: flex;
    align-items: center;

}
fa-icon{
    margin-right: 10px;
    margin-left: 10px;
}
.LikeButton{
    float: right;
    font-size: 40px;
    background-color: rgb(34, 2, 2);
    color: red;
    border-radius: 20px 0px 20px 0px;
    margin-top: -40px;

}
div.LikeButton fa-icon {
    color: rgb(228, 80, 80);
    padding-right: 2px;
}


