body {
    background-color: burlywood;


}
body *{
    margin: 10px;
    padding: 10px;
}
.l1, .l2, .l3{
    text-align: center;
    margin: 10px;
    background-color: green;

    border: 3px solid black;
    padding: 20px;
}
.labela{
    text-align: center;
    margin: 10px;

    padding: 20px;
}
.div1{
    display: flex;
    justify-content: center;
}
.Naslov{
    text-align: center;
}
