body {
    background-color: rgb(245, 227, 126);
    font-family: Impact, fantasy;
    font-size: 20px;
    color: brown;
}
div{
    margin: 5px;
}
h1{
    margin: 50px;
}
.UserFormDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: rgb(108, 177, 4);
    align-items: center;
    padding-bottom: 10px;
    margin: -10px;

}
.DivHeader{
    text-align: center;
    font-size: 50px;
    color: brown;
    margin: 10px;
    font-style: oblique;


}
.inputDiv , .DataViewDiv{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.inputDiv{
    border-right:4px solid rgb(245, 227, 126);
}

.inputID, .inputSurname, .inputName {
    width: 30%;
}

.input{
    width: 20%;

}
.TaxiLogicDiv, table{
    background-color: steelblue;
    margin: -10px;
    text-align: center;
    font-size: 25px;
}
.TaxiLogic{

    display: flex;
    height: 30px;
    margin: 10px;
    padding: 20px;
    justify-content: space-around;

    align-content: center;
    align-items: center;
}
.l1, .l2, .l3{
    text-align: center;
    margin: 10px;
    background-color: green;

    border: 3px solid black;
    padding: 20px;
}
.labela{
    text-align: center;
    margin: 10px;

    padding: 20px;
}
.div1{
    display: flex;
    justify-content: center;
}
.Naslov{
    text-align: center;
}
table, th, td {
    border: 1px solid black;
  }
table {

    width: 100%;
    border-collapse: collapse;
  }

 h4, h5{
     margin: 20px;
 } 