body {
    background-color: rgb(245, 227, 126);
    font-family: Impact, fantasy;
    font-size: 20px;
    color: brown;
}
div{
    margin: 5px;
}
h1{
    margin: 50px;
}
.UserFormDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: rgb(108, 177, 4);
    align-items: center;
    padding-bottom: 10px;
    margin: -10px;

}
.DivHeader{
    text-align: center;
    font-size: 50px;
    color: brown;
    margin: 10px;
    font-style: oblique;


}
.inputDiv , .DataViewDiv{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.inputDiv{
    border-right:4px solid rgb(245, 227, 126);
}

.inputID, .inputSurname, .inputName {
    width: 40%;
    font-family: Impact, fantasy;
    font-size: 20px;
}
.dugmeUTabeli{
    background-color: #4CAF50;
    border:2px solid chartreuse;
    display: table-cell;
    color: black;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 9px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 35px; 
    width: 250px; 
}
.dugmeUTabeli:hover{
    background-color: chartreuse;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.input{
    width: 20%;
    font-family: Impact, fantasy;
    font-size: 20px;
}
.selekcija{
    width: 20%;
    font-family: Impact, fantasy;
    font-size: 20px;

}
.TaxiLogicDiv, table{
    background-color: steelblue;
    margin: -10px;
    text-align: center;
    font-size: 25px;
    padding-bottom: 80px;
}
.TaxiLogic{

    display: flex;

    margin: 10px;
    padding: 20px;
    justify-content: space-around;

    align-content: center;
    align-items: center;
}

.div1{
    display: flex;
    justify-content: center;
}
.Naslov{
    text-align: center;
}
table, th, td {
    border: 1px solid black;
}
table {
    width: 100%;
    border-collapse: collapse;
}
h4, h5{
     margin: 20px;
} 
.image{
    border: ridge 10px rgb(108, 177, 4);
    width: 400px;
    height: 200px;
}
.image:hover {
    opacity: 90%;
    border: ridge 15px rgb(108, 177, 4);
}

.prikazRezervacija{
    margin: 10px;
    padding: 10px;}
    
.reservation{
    background-color: cyan;
    height: 30px;
    margin: 10px;
    padding: 10px;
}