:host{
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 60, 60);
}


h1, h2{
    text-align: center;
    color: rgb(251, 0, 0);
    background-color: white;
    font-size: 45px;
}

app-player-list{
    float: left;
}
app-player-details{
    float: left ;
}
.ListaIThumbnail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}