.dugme{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    width: 770px;
    margin-left: 620px;
    color:red;
    background-color: white;
    border: 3px solid black;
    border-radius: 0px 0px 0px 80px;
}
.dugme:hover{
    color: white;
    background-color: red;
}